@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:ital,wght@0,200;0,600;0,700;1,500;1,600&display=swap');





* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;

}




/************NAVBAR*************/

.onglet {
    font-weight: 800;
}

.banner-image {
    background-image: url('../img/running.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 40rem;

   
}


.colorbg {
    background-color: #f8bc9a;
}








/*************** HOME PAGE *********************/

h1 {
    font-size: 5rem;
}


hr {
    text-decoration: dotted;
    margin: 5rem auto;
}


.imgHome {
    width: 60%;
    height: auto;
    border-radius: 1rem;
    box-shadow: #f8bc9a 0px 3px 8px;


}

.imgHome1 {
    display: flex;
    justify-content: center;
    align-items: center;

}



.textHome1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    line-height: 2rem;
    font-size: 1.25rem;
    margin-bottom: 5rem;
}


.blockHome1 {
    border: 1px solid #f8bc9a;
    padding: 3rem;
    border-radius: 1rem;
    background: rgb(254, 140, 140);
    background: linear-gradient(180deg, rgba(254, 140, 140, 1) 50%, rgba(247, 230, 202, 1) 90%, rgba(202, 247, 231, 1) 100%);
    color: white;
    box-shadow: #f8bc9a 0px 3px 8px;
}

.blockImgText {
    border: 1px solid #f8bc9a;
    border-radius: 1rem;
    background: rgb(254, 140, 140);
    background: linear-gradient(180deg, rgba(254, 140, 140, 1) 0%, rgba(247, 230, 202, 1) 66%, rgba(202, 247, 231, 1) 98%);

}

.blockHomeTwo {
    width: 20rem;
    height: auto;
    margin-top: 10rem;
    padding: 3rem;
    border: 1px solid #f8bc9a;
    border-radius: 1rem;
    background: rgb(254, 140, 140);
    background: linear-gradient(180deg, rgba(254, 140, 140, 1) 50%, rgba(247, 230, 202, 1) 90%, rgba(202, 247, 231, 1) 100%);
    color: white;
    box-shadow: #f8bc9a 0px 3px 8px;
}



.threecards{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    border: 1px solid  #f8bc9a;
    padding: 0;
    margin: 2rem;
    
}

.cardImg{
    width: 100%;
    height: auto;
    
}